.main_task
  .main_task__header
    .main_task__header__edit
      -# =link_to edit_user_path(current_user) 'logout'
  .main_task__list
    .main_task__list__lists
      .main_task__list__lists__info
        .main_task__list__lists__info__user
          aaa
        .main_task__list__lists__info__date
          2019
      .main_task__list__lists__text
        テスト勉強